﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Der er desværre opstået en fejl på siden";
}

<h1 class="text-danger">Der er desværre opstået en fejl på siden</h1>
<h2 class="text-danger">Der opstod en fejl under udførelsen af den ønskede handling. Prøv igen og hvis fejlen opstår igen kontakt da Syddjurs Kommune, syddjurs@syddjurs.dk.</h2>

