﻿@using Newtonsoft.Json
@using Ydelsesberegner.Admin.ViewModels
@model Ydelsesberegner.Admin.ViewModels.BenefitTypeViewModel

@{
    ViewBag.Title = "Opret/rediger ydelsestype";

    var conditions = JsonConvert.SerializeObject(Model.Condition ?? new List<ConditionViewModel>());
}
@section header{
    @Styles.Render("~/Content/css/summernote")
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs margin-top">
        <li class="active">
            <a href="#slide" data-toggle="tab">Ydelsestype</a>
        </li>
        <li>
            <a href="#conditions" data-toggle="tab">Betingelser for at ydelsestypen bliver valgt</a>
        </li>
    </ul>

    <div class="tab-content clearfix margin-top">
        <div class="tab-pane active" id="slide">
            @Html.Partial("PartialViews/Forms/_BenefitType", Model)
        </div>
        <div class="tab-pane" id="conditions">
            @Html.Partial("PartialViews/Forms/_Conditions")
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-xs-6">
            @Html.ActionLink("Gå tilbage", "Index", new { applicationId = Model.ApplicationId == 0 ? int.Parse(Request.QueryString["applicationId"]) : Model.ApplicationId })
        </div>
        <div class="col-xs-6">
            <input type="submit" value="Gem ændringer" class="btn btn-default pull-right" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/summernote")

    <script src="~/Content/Scripts/Angular/controllers/conditions.controller.js"></script>
    <script>
        $(document).ready(function () {
            $("#Text").summernote({
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'picture']],
                    ['misc', ['codeview']]
                ],
                height: 300
            });
        });

        app.value("conditions", @Html.Raw(conditions));
    </script>
}