﻿@model IEnumerable<Ydelsesberegner.Admin.ViewModels.BenefitTypeViewModel>

@{
    ViewBag.Title = "Ydelsestyper";
}

<h2>@ViewBag.Title</h2>
<div class="row margin-top">
    <div class="col-md-2">
        <label>Vælg applikation</label>
    </div>
    <div class="col-md-3">
        @Html.DropDownList("Applications", null, "Vælg applikation", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="col-md-7">
        <a href="" id="create-benefit-type" class="btn btn-default">Opret ny ydelsestype</a>
    </div>
</div>
<hr />
<div class="row margin-top">
    <div class="col-md-12">
        <table id="benefit-types-table" class="table table-striped table-responsive table-hover">
            <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlyWorkHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlyRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HourlyRate)
                </th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{
    <script src="~/Content/Scripts/Custom/benefitTypes.js"></script>
}