﻿@using Ydelsesberegner.User.ViewModels
@model Ydelsesberegner.User.ViewModels.SlideViewModel
@{
    Layout = ViewBag.Layout;

    var headline = string.IsNullOrWhiteSpace(Model.SlideHeadline) ? Model.SlideName : Model.SlideHeadline;
    var givenAnswers = Session["GivenAnswers"] != null ? (List<GivenAnswer>)Session["GivenAnswers"] : new List<GivenAnswer>();
    var answers = Model.Question != null && Model.Question.Answer.Count > 0 ? Model.Question.Answer.ToList() : new List<AnswerViewModel>();

    ViewBag.Title = headline;
}

@using (Html.BeginForm("GoToNextSlide", "Slides", new { currentSlideOrderIndex = Model.SlideOrderIndex }))
{
    <div class="row">
        <div class="col-xs-12">
            <h2 class="slide-headline">@headline</h2>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12">
            @Html.Raw(Model.SlideText)
        </div>
    </div>
    if (Model.Attachment != null)
    {
        <div class="row">
            <div class="col-xs-12">
                @foreach (var attachment in Model.Attachment)
                {
                    <a href="@Url.Action("DownloadAttachment", "Attachments", new {attachmentId = attachment.AttachmentId})">@attachment.FileName</a><br />
                }
            </div>
        </div>
    }
    if (Model.DisplayTextBox)
    {
        var textBoxValue = givenAnswers.SingleOrDefault(ga => ga.Slide.SlideId == Model.SlideId) != null ? givenAnswers.Single(ga => ga.Slide.SlideId == Model.SlideId).SlideTextBoxValue : null;

        <div class="row">
            <div class="col-xs-12">
                @Html.TextArea("SlideTextBox", textBoxValue, new { cols = "150", rows = "5", @class = "form-control" })
            </div>
        </div>
    }
    if (Model.Question != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <input type="hidden" id="QuestionId" name="QuestionId" value="@Model.Question.QuestionId" />
                    <label>@Model.Question.QuestionText</label>
                </div>
                <div>
                    @for (int i = 0; i < Model.Question.Answer.Count; i++)
                    {
                        var isChecked = givenAnswers.Any(ga => ga.Answer != null && ga.Answer.AnswerId == answers[i].AnswerId);

                        <label class="radio-inline">
                            @Html.RadioButton("AnswerId", answers[i].AnswerId, isChecked, new { required = "true" }) @answers[i].AnswerText
                        </label>
                        <br />
                    }
                </div>
                @if (Model.DisplayReturnToStartButton)
                {
                    <div class="margin-top">
                        <a href="@Url.Action("GoToStart")" class="btn btn-default">Gå tilbage til start</a>
                    </div>
                }
            </div>
        </div>
    }
    <div class="row margin-top">
        <div class="col-xs-6">
            <a href="@Url.Action("GoToPreviousSlide")" id="back-button" class="btn btn-primary pull-left @(Model.SlideOrderIndex != 0 ? "" : "hidden")">
                <span class="glyphicon glyphicon-chevron-left"></span> Gå tilbage
            </a>
        </div>
        <div class="col-xs-6">
            <div class="@(Model.DisplayNextButton ? "" : "hidden")">
                <button type="submit" id="next-button" class="btn btn-primary pull-right">Næste slide <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            <div class="@( Model.DisplayPrintButton ? "" : "hidden" )">
                <a href="#" class="btn btn-primary pull-right" style="margin-left: 5px;" data-toggle="modal" data-target="#modal-page-title"><span class="glyphicon glyphicon-print"></span> Print</a>
            </div>
            <div class="@( Model.DisplayReturnToStartButton ? "" : "hidden" )">
                @Html.ActionLink("Gå tilbage til start", "GoToStart", null, new { @class = "btn btn-primary pull-right" })
            </div>
        </div>
    </div>
}

<div id="modal-page-title" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Indtast sideoverskrift</h4>
            </div>
            <div class="modal-body">
                <p>Indtast sideoverskrift:</p>
                <input type="text" id="page-title" name="page-title" value="@ViewBag.ApplicationName" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuller</button>
                <button type="button" class="btn btn-primary" id="print" data-print-action="@ViewBag.PrintActionName">Forsæt</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Scripts/Custom/slideshow.js" type="text/javascript"></script>
}