﻿@model Ydelsesberegner.User.ViewModels.SlideViewModel
@{
    Layout = ViewBag.Layout;

    var headline = string.IsNullOrWhiteSpace(Model.SlideHeadline) ? Model.SlideName : Model.SlideHeadline;

    ViewBag.Title = headline;
}
@section header{
    <style type="text/css">
        #chart {
            width: 900px !important;
            height: 400px !important;
        }
    </style>
}

@using (Html.BeginForm("GoToNextSlide", "Slides", new { currentSlideOrderIndex = Model.SlideOrderIndex }))
{
    <div class="row">
        <div class="col-xs-12">
            <h2 class="slide-headline">@headline</h2>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12">
            @Html.Raw(ViewBag.Text)
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-xs-6">
            <a href="@Url.Action("GoToPreviousSlide", "Slides")" id="back-button" class="btn btn-primary pull-left @(Model.SlideOrderIndex != 0 ? "" : "hidden")">
                <span class="glyphicon glyphicon-chevron-left"></span> Gå tilbage
            </a>
        </div>
        <div class="col-xs-6">
            <div class="@(Model.DisplayNextButton ? "" : "hidden")">
                <button type="submit" id="next-button" class="btn btn-primary pull-right">Næste slide <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            <div class="@( Model.DisplayPrintButton ? "" : "hidden" )">
                <a href="#" id="print" class="btn btn-primary pull-right" data-print-action="@ViewBag.PrintActionName"><span class="glyphicon glyphicon-print"></span> Print</a>
            </div>
            <div class="@( Model.DisplayReturnToStartButton ? "" : "hidden" )">
                @Html.ActionLink("Gå tilbage til start", "GoToStart", "Slides", null, new { @class = "btn btn-primary pull-right" })
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Content/Scripts/Custom/slideshow.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="~/Content/Scripts/Custom/chart.js"></script>
}