﻿@using Newtonsoft.Json
@using Ydelsesberegner.Admin.ViewModels
@model Ydelsesberegner.Admin.ViewModels.JobViewModel

@{
    ViewBag.Title = "Opret/rediger job";

    var job = JsonConvert.SerializeObject(Model);
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div ng-controller="jobController">
        <ul class="nav nav-tabs margin-top">
            <li class="active">
                <a href="#job" data-toggle="tab">Job</a>
            </li>
        </ul>

        <div class="tab-content clearfix margin-top">
            <div class="tab-pane active" id="job">
                @Html.Partial("PartialViews/Forms/_Job", Model)
            </div>
        </div>

        <div class="row margin-top">
            <div class="col-xs-6">
                @Html.ActionLink("Gå tilbage", "Index", new { applicationId = Model.ApplicationId == 0 ? int.Parse(Request.QueryString["applicationId"]) : Model.ApplicationId })
            </div>
            <div class="col-xs-6">
                <input type="submit" value="Gem ændringer" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Scripts/Angular/controllers/job.controller.js"></script>
    <script type="text/javascript">
        app.value("job", @Html.Raw(job));
    </script>
}