﻿@using Newtonsoft.Json
@using Ydelsesberegner.Admin.ViewModels
@model Ydelsesberegner.Admin.ViewModels.SlideViewModel

@{
    ViewBag.Title = "Opret/rediger slide";

    var answers = JsonConvert.SerializeObject(Model.Question != null ? Model.Question.Answer : new List<AnswerViewModel>());
    var conditions = JsonConvert.SerializeObject(Model.Condition ?? new List<ConditionViewModel>());
}

@section header{
    @Styles.Render("~/Content/css/summernote")
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs margin-top">
        <li class="active">
            <a href="#slide" data-toggle="tab">Slide</a>
        </li>
        <li>
            <a href="#questions-and-answers" data-toggle="tab">Spørgsmål og svar</a>
        </li>
        <li>
            <a href="#conditions" data-toggle="tab">Betingelser for at få vist slide</a>
        </li>
    </ul>

    <div class="tab-content clearfix margin-top">
        <div class="tab-pane active" id="slide">
            @Html.Partial("PartialViews/Forms/_Slide", Model)
        </div>
        <div class="tab-pane" id="questions-and-answers">
            @Html.Partial("PartialViews/Forms/_Question", Model)
        </div>
        <div class="tab-pane" id="conditions">
            @Html.Partial("PartialViews/Forms/_Conditions")
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-xs-6">
            @Html.ActionLink("Gå tilbage", "Index", new { applicationId = Model.ApplicationId == 0 ? int.Parse(Request.QueryString["applicationId"]) : Model.ApplicationId })
        </div>
        <div class="col-xs-6">
            <input type="submit" value="Gem ændringer" class="btn btn-default pull-right" />
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/summernote")
    <script src="~/Content/Scripts/Angular/controllers/question.controller.js"></script>
    <script src="~/Content/Scripts/Angular/controllers/conditions.controller.js"></script>
    <script>
        $(document).ready(function() {
            $("#SlideText").summernote({
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'picture']],
                    ['misc', ['codeview']]
                ],
                height: 300,
            });
        });
                
        app.value("answers", @Html.Raw(answers));
        app.value("conditions", @Html.Raw(conditions));
    </script>
}
