﻿@using Ydelsesberegner.Admin.Classes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syddjurs Kommune | Ydelsesberegner -> Administration -> @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Administration", "Index", "Jobs", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Beregnere", "Index", "Applications")</li>
                    <li>@Html.ActionLink("Ydelsestyper", "Index", "BenefitTypes")</li>
                    <li>@Html.ActionLink("Slides", "Index", "Slides")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "Jobs")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" ng-app="ydelsesberegnerAdminApp">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-xs-12">
                <div class="pull-right">Du er logget ind som: @UserInfoHelper.GetDisplayName()</div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-app")
    @Scripts.Render("~/bundles/jquery-datatables")
    @RenderSection("scripts", required: false)
</body>
</html>
