﻿<div class="form-horizontal" ng-controller="conditionsController">
    <table id="conditions-table" class="table" ng-form="conditionsForm" style="{{conditions.length == 0 ? 'width: 50%;' : ''}}">
        <thead>
            <tr>
                <th>Spørgsmål</th>
                <th>Svar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="conditions.length == 0">
                <td colspan="3">
                    <button type="button" ng-click="add($index, condition)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Opret betingelse</button>
                </td>
            </tr>
            <tr ng-repeat="condition in conditions track by $index">
                <td>
                    <input type="hidden" ng-model="condition.ConditionId" ng-if="condition.ConditionId" name="Condition[{{$index}}].ConditionId" value="{{condition.ConditionId}}" />
                    <select name="Condition[{{$index}}].QuestionId" ng-model="condition.QuestionId" ng-init="condition.QuestionId = condition.QuestionId || options[0].value" ng-change="questionChange({{$index}}, condition)" class="form-control" convert-to-number>
                        <option value="">Vælg spørgsmål</option>
                        <option ng-repeat="question in questions track by question.QuestionId" value="{{question.QuestionId}}">{{question.QuestionSystemName}}</option>
                    </select>
                </td>
                <td>
                    <select name="Condition[{{$index}}].AnswerId" ng-model="condition.AnswerId" ng-init="condition.AnswerId = condition.AnswerId || options[0].value" class="form-control" convert-to-number>
                        <option value="">Vælg svarmulighed</option>
                        <option ng-repeat="answer in answers[$index] track by answer.AnswerId" value="{{answer.AnswerId}}">{{answer.AnswerText}}</option>
                    </select>
                </td>
                <td>
                    <button type="button" ng-click="add($index, condition)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Opret betingelse</button>
                    <button type="button" ng-click="remove($index, condition)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus-sign"></span> Fjern betingelse</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>