﻿@model Ydelsesberegner.Admin.ViewModels.JobViewModel

<div class="form-horizontal">
    @Html.HiddenFor(model => model.JobId)

    <div class="form-group">
        @Html.LabelFor(model => model.ApplicationId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ApplicationId", (SelectList)ViewBag.Applications, "Vælg applikation", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MonthlySalary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MonthlySalary, new { htmlAttributes = new { @class = "form-control", ng_model = "job.MonthlySalary" } })
            @Html.ValidationMessageFor(model => model.MonthlySalary, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyWorkHours, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MonthlyWorkHours, new { htmlAttributes = new { @class = "form-control", ng_init = "job.MonthlyWorkHours = '160,33'", ng_model = "job.MonthlyWorkHours" } })
            @Html.ValidationMessageFor(model => model.MonthlyWorkHours, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HourlySalary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            {{parseFloat(job.MonthlySalary) / parseFloat(job.MonthlyWorkHours) | number:2}} kr.
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.YearlySalary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            {{parseFloat(job.MonthlySalary) * 12 | number:2}} kr.
        </div>
    </div>
</div>