﻿@model Ydelsesberegner.Admin.ViewModels.ApplicationViewModel
@{
    ViewBag.Title = "Opret/rediger beregner";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul class="nav nav-tabs margin-top">
        <li class="active">
            <a href="#application" data-toggle="tab">Beregner</a>
        </li>
    </ul>

    <div class="tab-content clearfix margin-top">
        <div class="tab-pane active" id="slide">
            @Html.Partial("PartialViews/Forms/_Application", Model)
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-xs-6">
            @Html.ActionLink("Gå tilbage", "Index")
        </div>
        <div class="col-xs-6">
            <input type="submit" value="Gem ændringer" class="btn btn-default pull-right" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}