﻿@model List<Ydelsesberegner.User.Models.Slide>
@{
    ViewBag.Title = "Print";

    var givenAnswers = (List<Ydelsesberegner.User.ViewModels.GivenAnswer>)Session["GivenAnswers"];
}
@section header{
    <link href="~/Content/Styles/Custom/Print.css" rel="stylesheet" />
}

<h1>@(!string.IsNullOrWhiteSpace(Request.QueryString["title"]) ? Request.QueryString["title"] : "Ydelsesberegner")</h1>

@foreach (var slide in Model)
{
    var headline = string.IsNullOrWhiteSpace(slide.SlideHeadline) ? slide.SlideName : slide.SlideHeadline;

    <div class="row">
        <div class="col-xs-12">
            <h2 class="slide-headline">@headline</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Raw(slide.SlideText)
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12">
            @foreach (var givenAnswer in givenAnswers.Where(ga => ga.Slide.SlideId == slide.SlideId && !string.IsNullOrWhiteSpace(ga.SlideTextBoxValue)))
            {
                <strong>Svar afgivet i tekstboks:</strong> @givenAnswer.SlideTextBoxValue
            }
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-xs-12">
            @foreach (var answer in givenAnswers.Where(ga => ga.Slide.SlideId == slide.SlideId && ga.Answer != null).ToList())
            {
                <strong>Svar:</strong> @answer.Answer.AnswerText
            }
        </div>
    </div>
}


@section scripts{
    <script src="~/Content/Scripts/Custom/slideshow.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="~/Content/Scripts/Custom/chart.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });
    </script>
}