﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/Content/Images/bg.png");
    font-family: Verdana;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.margin-top {
    margin-top: 25px;
}

.slide-headline {
    font-size: 1.5em;
    font-weight: bold;
}

textarea {
    width: 500px !important;
    height: 200px !important;
    border-radius: 2px;
}